<a href="{% url 'Menú_Infantil' %}">Menú_Infantil</a> </br>
<a href="{% url 'Receta_Facil' %}">Receta_Facil</a></br>
<a href="{% url 'Mafe' %}">Mafe</a></br>
<a href="{% url 'Feijoada' %}">Feijoada</a></br>
<a href="{% url 'Pizza' %}">Pizza</a></br>
<a href="{% url 'Canelones' %}">Canelones</a></br>
<a href="{% url 'Flor_de_Calabacin' %}">Flor_de_Calabacin</a></br>
<a href="{% url 'Gazpacho' %}">Gazpacho</a></br>
<a href="{% url 'Sopa_de_Noodles' %}">Sopa_de_Noodles</a></br>
<a href="{% url 'Ensaladilla_Rusa' %}">Ensaladilla_Rusa</a></br>
<a href="{% url 'Carbonara' %}">Carbonara</a></br>