<a href="{% url 'Consultar' %}">Consultar</a> <br>
<a href="{% url 'Borrar' %}">Borrar</a> <br>

<html>
	<head>
    	<title>Notas</title>
	</head>
	<body>
	<h1>Notas</h1>
	<form method="POST" action="/anadir"> {% csrf_token %}
    	<label for="id_prioridad">Prioridad:</label>
    	<select id="id_prioridad" name="name_prioridad">
            	<option value="Alta">Alta</option>
            	<option value="Normal">Normal</option>
            	<option value="Baja">Baja</option>
    	</select>
    	<br>
    	<input type="text" name="name_titulo" placeholder="titulo" size="27"><br>
    	<textarea name="name_nota" id="id_new_item" cols="40" rows="5" placeholder="Escribe tu nota aquí"></textarea>
    	<br>
    	<input type="submit" value="Guardar">
	</form>
	</body>
</html>
